* {box-sizing: border-box}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', Verdana, sans-serif;
}

/* Style tab links */
.tablink {
  background-color: rgb(100, 100, 100);
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 2em;
  width: 50%;
}

.tablink:hover {
  background-color: rgb(200, 200, 200);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#author_img{
  float: left;
  width: 40%;
  border-radius: 50% 50% 50% 0%;
}

h1 {
  font-family: 'Abril Fatface', Georgia, serif;
  font-size: 2.5em;
}

p{
  font-size: 1.1em;
}

#about_me {
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
}

#contact {
  background-color: rgba(0, 255, 0, 0.5);
  color: black;
}
