body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    line-height: 1.6;
    color: #333;
}

#sidebar {
    flex: 0 0 15%; 
    background: #f0f0f0;
    height: 100vh;
    padding: 1.5%; 
    text-align: center;
    font-size: 1.1em;
    margin-left: 1%; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
}

#sidebar #author_img {
    width: 100%;
    border-radius: 10%;
    margin-bottom: 1%; 
    display: inline-block;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 0; 
}

#sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1%;
    border-radius: 5%; 
    transition: background-color 0.3s;
}

#sidebar ul li a:hover {
    background-color: #ddd;
}

#sidebar #social-links {
    margin-top: 2%;
    margin-bottom: 2%; 
}

#sidebar #social-links a {
    text-decoration: none;
    color: black;
    font-size: 2em; 
    margin-right: 3%;
    transition: color 0.3s;
}

#sidebar #social-links a:hover {
    color: #007bff;
}

#content {
    flex-grow: 1;
    padding: 2%; 
    font-size: 1.1em;
    max-width: 100%;
    margin: auto;
}

section {
    margin-bottom: 3%; 
}

@media (min-width: 576px) { /* Small devices (landscape phones) */
    #content {
        max-width: 90%; 
    }
}

@media (min-width: 768px) { /* Medium devices (tablets) */
    #content {
        max-width: 80%; 
    }
}

@media (min-width: 992px) { /* Large devices (desktops) */
    #content {
        max-width: 730px; 
    }
}