body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    line-height: 1.6;
    color: #333;
}

#sidebar {
    position: fixed;
    top: 1vh;
    left: 0;
    width: 15vw;
    background: #f0f0f0;
    height: 90vh;
    padding: 1.5%; 
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    margin-left: 1%; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar #social-links {
    margin-top: 2%;
    margin-bottom: 2%; 
    /* add a box around social-links */

    border-top: 0.5em solid rgb(128, 128, 128);
    border-bottom: 0.5em solid rgb(128, 128, 128);
    background-color: rgb(128, 128, 128);
    /* padding: 1%; */

}

#sidebar #author_img {
    width: 100%;
    border-radius: 10%;
    margin-bottom: 1%; 
    display: inline-block;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 0; 
}

#sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1%;
    border-radius: 5%; 
    transition: background-color 0.3s; 
}

#sidebar ul li a:hover {
    background-color: #ddd;
}

#sidebar #social-links {
    margin-top: 2%;
    margin-bottom: 2%; 
}

#sidebar #social-links a {
    text-decoration: none;
    color: black;
    font-size: 2em; 
    margin-right: 3%;
    transition: color 0.3s;
}

#sidebar #social-links a:hover {
    color: #007bff;
}

#content {
    flex-grow: 1;
    padding: 2%; 
    font-size: 1.1em;
    max-width: 100%;
    margin: auto;
    margin-left: 30vw;
}

#research p {
    text-indent: -2em; 
    padding-left: 4em; 
}

section {
    margin-bottom: 3%; 
}


@media (max-width: 1200px) { /* Large devices (desktops, 992px and up) */
    #content {
        margin-left: 30vw; 
    }
}

@media (max-width: 992px) { /* Medium devices (tablets, 768px and up) */
    #sidebar {
        width: 20vw;
        font-size: 1.3em;

    }

    #content {
        margin-left: 30vw;
    }
}

@media (max-width: 768px) { /* Small devices (landscape phones, 576px and up) */
    #sidebar {
        width: 25vw;
    }

    #content {
        margin-left: 28vw;
    }
}

@media (max-width: 576px) { /* Extra small devices (portrait phones and smaller) */
    body {
        flex-direction: column;
    }

    #sidebar {
        position: relative;
        width: 100%;
        height: auto;
        margin-left: 0;
        border: none;
        border-radius: 0;
    }

    #content {
        margin-left: 0;
        margin-top: 1vh;
    }
}